<div class="form-block container">
  <h1>Registration form</h1>
  <form (submit)="onSubmit()" [formGroup]="form">
    <div class="form-group">
      <label for="name">Имя:</label>
      <input class="form-control" formControlName="name" id="name" placeholder="Введите имя" type="text"/>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Имя не должно быть пустым.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" formControlName="email" id="email" placeholder="Введите email" type="text"/>
      <div *ngIf="email.invalid && (email.dirty || email.touched)"
           class="alert alert-danger">

        <div *ngIf="email.errors.required">
          Email не должно быть пустым.
        </div>
        <div *ngIf="email.errors.email">
          Неверный формат email.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль:</label>
      <input class="form-control" formControlName="password" id="password" placeholder="Введите пароль"
             type="password"/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger">

        <div *ngIf="password.errors.required">
          Пароль не должен быть пустым.
        </div>

        <div *ngIf="password.errors.pattern">
          Пароль должен содержать минимум 8 символов, одну заглавную букву,
          одну строчную, одну цифру и один специальный символ.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="passwordConfirmation">Подтверждение пароля:</label>
      <input class="form-control" formControlName="passwordConfirmation" id="passwordConfirmation" placeholder="Подтвердите пароль"
             type="password"/>
      <div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
           class="alert alert-danger">

        <div *ngIf="passwordConfirmation.errors.required">
          Требуется подтверждение пароля.
        </div>

        <div *ngIf="passwordConfirmation.errors.passwordMismatch">
          Пароли не совпадают.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
    <a class="float-right" routerLink="/login">Войти</a>
  </form>
</div>

