<h1>Журнал расходов</h1>

<div *ngIf="!isLoaded" class="my-3 mx-auto loader"></div>

<div *ngIf="isLoaded" class="table-responsive">
  <table class="table tableSmall" style="float: left;">
    <thead>
    <tr>
      <th>Расходы</th>
      <th>Сумма</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>
        <button [queryParams]="expenseQuery" class="btn btn-primary" routerLink="/add-record"
                style="float: left;" type="button">Добавить расходы
        </button>
      </th>
      <th>
        <button [routerLink]="['/record-type-summary', expenseQuery.type]" class="btn btn-primary" style="float: left;"
                type="button">Показать расходы
        </button>
      </th>
    </tr>
    </tfoot>
    <tbody *ngIf="dashboard">
    <tr>
      <td>Сегодня</td>
      <td>{{dashboard.expense.today}}</td>
    </tr>
    <tr>
      <td>Месяц</td>
      <td>{{dashboard.expense.month}}</td>
    </tr>
    <tr>
      <td>Год</td>
      <td>{{dashboard.expense.year}}</td>
    </tr>
    </tbody>
  </table>

  <table class="table tableSmall" style="float: left;">
    <thead>
    <tr>
      <th>Доходы</th>
      <th>Сумма</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>
        <button [queryParams]="incomeQuery" class="btn btn-primary" routerLink="/add-record"
                style="float: left;" type="button">Добавить доходы
        </button>
      </th>
      <th>
        <button [routerLink]="['/record-type-summary', incomeQuery.type]" class="btn btn-primary" style="float: left;"
                type="button">Показать
          доходы
        </button>
      </th>
    </tr>
    </tfoot>
    <tbody *ngIf="dashboard">
    <tr>
      <td>Сегодня</td>
      <td>{{dashboard.income.today}}</td>
    </tr>
    <tr>
      <td>Месяц</td>
      <td>{{dashboard.income.month}}</td>
    </tr>
    <tr>
      <td>Год</td>
      <td>{{dashboard.income.year}}</td>
    </tr>
    </tbody>
  </table>

  <div class="card bg-light mb-3 cardStyle" style="max-width: 14rem; float:right;">
    <div class="card-header">Купить
      <button routerLink="/add-shopping-list" style="float: right;">Изменить</button>
    </div>
    <div class="card-body">
      <ul *ngFor="let item of shoppingItem; let i = index" class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" id="checkShoppngItem{{i}}" type="checkbox">
            <label class="custom-control-label" for="checkShoppngItem{{i}}">{{item.name}}</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <table class="table w-25" style="float: left;">
    <thead>
    <tr>
      <th>Баланс</th>
      <th>Сумма</th>
    </tr>
    </thead>
    <tbody *ngIf="dashboard">
    <tr>
      <td>Месяц</td>
      <td>{{dashboard.balance.month}}</td>
    </tr>
    <tr>
      <td>Год</td>
      <td>{{dashboard.balance.year}}</td>
    </tr>
    </tbody>
  </table>
</div>

