<h1>Профиль</h1>
<div>
  <label class="title-label">Имя</label>
  <label>{{user.name}}</label>
</div>
<div>
  <label class="title-label">Email</label>
  <label>{{user.email}}</label>
</div>
<div>
  <label class="title-label">Группа</label>
  <label>{{user.userGroupName}}</label>
</div>
<div>
  <button class="btn btn-primary mr-2" routerLink="/edit-profile">Редактировать данные</button>
  <button class="btn btn-primary mr-2" routerLink="/change-password">Изменить пароль</button>
  <button class="btn btn-secondary mr-2" routerLink="/dashboard" type="button">Назад</button>
  <button (click)="logout()" class="btn btn-secondary">Выйти</button>
</div>
